{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!--FONT AWESOME ICONS https://fontawesome.com/v4.7/icon/home-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="{% static 'admin/css/home.css' %}" type="text/css" rel="stylesheet" />
    <style>
        .navigation {
            background : url("{% static 'home/images/body-bg.jpg' %}");
            box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 80%);
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="navigation" id="navigation">
            <ul>
                <li>
                    <a href="{% url 'adminapp:home' %}" target="">
                        <span class="icon"><i class="fa fa-shield" aria-hidden="true"></i></span>
                        <span class="title">
                            <h2>LoraLink</h2>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'adminapp:dashboard' %}" target="contents_frame">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span class="title"> Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'adminapp:datasourceapp:datasource_create' %}" target="contents_frame">
                        <span class="icon"><i class="fa fa-database" aria-hidden="true"></i></span>
                        <span class="title">Datasources</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'adminapp:apiapp:api_manage' %}" target="contents_frame">
                        <span class="icon"><i class="fa fa-snowflake-o" aria-hidden="true"></i></span>
                        <span class="title">Manage API</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'adminapp:apiapp:devicesets_manage' %}" target="contents_frame">
                        <span class="icon"><i class="fa fa-spinner" aria-hidden="true"></i></span>
                        <span class="title">Manage Deviceset</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'adminapp:apiapp:buildapi' %}" target="contents_frame">
                        <span class="icon"><i class="fa fa-wrench" aria-hidden="true"></i></span>
                        <span class="title">Build API</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'adminapp:users' %}" target="contents_frame">
                        <span class="icon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                        <span class="title">Users</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'adminapp:apiapp:permissions' %}" target="contents_frame">
                        <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <span class="title">Permissions</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'adminapp:apiapp:tokens' %}" target="contents_frame">
                        <span class="icon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                        <span class="title">Tokens</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'adminapp:settings' %}" target="contents_frame">
                        <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'adminapp:logout' %}">
                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        <span class="title"> Sign-out</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here" oninput='onInput()' id='input' list='dlist'>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                </div>
                <div class="user">
                    <img src="{% static 'admin/images/user.png' %}" />
                </div>
            </div>

            <div class="contents" id="contents" name="contents">
                <iframe class="contents_frame" name="contents_frame" src="dashboard" title=""></iframe>
                <br /><br />
            </div>
        </div>
    </div>




    <datalist>
        <option value='Admin Home Page'><a id="a1" href="{% url 'adminapp:home' %}" target="">Admin Home Page</a></option>
        <option value='Datasource manage Page'><a id="a2" href="{% url 'adminapp:datasourceapp:datasource_create' %}" target="contents_frame">Add, Edit, Delete, Enable/Disable</a></option>
        <option value='API manage Page'><a id="a3" href="{% url 'adminapp:apiapp:api_manage' %}" target="contents_frame">Add, Edit, Delete, Enable/Disable</a></option>
        <option value='API build Page'><a id="a4" href="{% url 'adminapp:apiapp:buildapi' %}" target="contents_frame">Build, View</a></option>
        <option value='Users'><a id="a5" href="{% url 'adminapp:users' %}" target="contents_frame">Create, Edit, Delete</a></option>
        <option value='API permission manage Page'><a id="a6" href="{% url 'adminapp:apiapp:permissions' %}" target="contents_frame">Add permission for a user to an API</a></option>
        <option value='Token manage Page'><a id="a7" href="{% url 'adminapp:apiapp:tokens' %}" target="contents_frame">Create, Regenerate</a></option>
        <option value='Settings manage Page'><a id="a8" href="{% url 'adminapp:settings' %}" target="contents_frame">Settings</a></option>
        <option value='Log out'><a id="a9" href="{% url 'adminapp:logout' %}" target="contents_frame">Sign out</a></option>
    </datalist>



    <script>
        let setCount = 0;
        function toggleMenu() {
            let toggle = document.querySelector(".toggle");
            let navigation = document.querySelector(".navigation");
            let main = document.querySelector(".main");
            toggle.classList.toggle("active");
            navigation.classList.toggle("active");
            main.classList.toggle("active");
        }
        function closeNav() {
            if ((window.innerWidth <= 726) & (setCount != 1)) {
                toggleMenu();
            }
            setCount = 0;
        }

        document.getElementById("navigation").addEventListener("click", closeNav);



        var input = document.querySelector("#input");
        var datalist = document.querySelector("datalist");

        input.addEventListener("keyup", (e) => {
            // If input value is longer or equal than 2 chars, adding "users" on ID attribute.
            if (e.target.value.length >= 2) {
                datalist.setAttribute("id", "dlist");
            } else {
                datalist.setAttribute("id", "");
            }
        });

        function onInput() {
            var val = document.getElementById("input").value;
            try {
                var opts = document.getElementById('dlist').childNodes;
                for (var i = 0; i < opts.length; i++) {
                    if (opts[i].value === val) {
                        var id = opts[i].innerHTML;
                        var ids = id.slice(7, 9);
                        console.log(ids);
                        document.getElementById(ids).click();
                        break;
                    }
                }
            }
            catch (msge) { }
        }

    </script>

    <!--SNACKBAR MESAGE-->
    <link href="{% static 'common/css/snackbar.css' %}" type="text/css" rel="stylesheet">
    <div id="snackbar"></div>
    <script src="{% static 'common/js/snackbar.js' %}"></script>


    {% for message in messages %}
    <script>showSnackBar("{{ message }}");</script>
    {% endfor %}

</body>

</html>