{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link href="{% static 'admin/css/users.css' %}" type="text/css" rel="stylesheet" />
    <!--FONT AWESOME ICONS https://fontawesome.com/v4.7/icon/home-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style></style>
</head>
 
<body>
    <div class="main">
        <div class="sections box-shadow">
            <h3>Add User</h3>
            <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-col"><label for="">First Name</label></div>
                    <span class="errors"> {{ form.first_name.errors }}</span>
                    <div class="form-col">
                        <input type="text" name="first_name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col"><label for="">Last Name</label></div>
                    <span class="errors"> {{ form.last_name.errors }}</span>
                    <div class="form-col">
                        <input type="text" name="last_name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col"><label for="">Email</label></div>
                    <span class="errors"> {{ form.email.errors }}</span>
                    <div class="form-col">
                        <input type="email" name="email" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col"><label for="">User Name</label></div>
                    <span class="errors"> {{ form.username.errors }}</span>
                    <div class="form-col">
                        <input type="text" name="username" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col"><label for="">Password</label></div>
                    <span class="errors"> {{ form.password.errors }}</span>
                    <div class="form-col">
                        <input type="password" name="password"  autocomplete="new-password" required>
                    </div>
                </div>
                <div class="form-row">
                    <input type="submit" value="Add" />
                </div>
            </form>
        </div>

        <div class="sections box-shadow">
            <h3>Users</h3>
            <table class="list-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each in users %}
                    <tr>
                        <td>{{each.0}} {{each.1}}</td>
                        <td>{{each.2}}</td>
                        <td>{{each.3}}</td>
                        <td>
                            <a href="delete/{{ each.4 }}"><button type="button">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br /><br /><br />

        <!--SNACKBAR MESAGE-->
        <link href="{% static 'common/css/snackbar.css' %}" type="text/css" rel="stylesheet" />
        <div id="snackbar"></div>
        <script src="{% static 'common/js/snackbar.js' %}"></script>

        {% for message in messages %}
        <script>
            showSnackBar("{{ message }}");
        </script>
        {% endfor %}


    </div>
</body>

</html>