{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Build API</title>
  <link href="{% static 'apiapp/css/build_api.css' %}" type="text/css" rel="stylesheet" />
  <!--FONT AWESOME ICONS https://fontawesome.com/v4.7/icon/home-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <div class="main">

    <div class="sections box-shadow">
      <h3>API Builder</h3>
      <div class="row">
        <div class="flex-group">
          <select id="apisList" name="api_id" required>
            <option value="-1">Select API</option>
          </select>
        </div>
        <div class="flex-group">
          <button style="background-color: #234466;" id="view-deviceset" class="blue-bg" value="View">
            View
          </button>
          <button id="create-deviceset" class="blue-bg" value="Create">
            Build
          </button>
        </div>
      </div>
    </div>

    <div class="builder-main-div" id="builder-main-div"></div>

    <style>
      .query-box-main {
        margin-top: 1em;
        padding: 1em;
      }

      .query-box-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
      }

      .query-box-col {
        flex: 30%;
        margin: 1%;
        padding: 1em;
      }

      .query-box-fields {
        color: #747171;
        position: relative;
        letter-spacing: 1px;
        line-height: 2em;
      }

      .query-box-delete {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #747171;
        font-size: 23px;
        cursor: pointer;
      }

      .query-box-head {
        background-color: #385264;
        padding: 1em;
        color: white;
        margin: 1%;
        display: flex;
        justify-content: space-between;

      }

      .device-box-delete {
        color: #ffffff;
        font-size: 23px;
        cursor: pointer;
      }

      @media screen and (max-width: 641px) {
        .flex-group {
          flex-direction: column;
        }

        .input-set {
          margin-top: .8em;
        }
      }

      @media screen and (max-width: 720px) {
        .query-box-row {
          flex-direction: column;
          justify-content: center;
        }
      }
    </style>

    <div class="query-box-main box-shadow" id="query-box-main">
      <div class="device-sets"> </div>
      <!-- <div class="query-box-row">
        <div class="query-box-col box-shadow">
          <div class="query-box-fields"><b>Name : </b> name </div>
          <div class="query-box-fields"><b>Measurement :</b> measurement </div>
          <div class="query-box-fields"><b>Fields : </b> fields </div>
          <div class="query-box-fields"><b>Where : </b> where </div>
          <div class="query-box-fields"><b>Limit : </b> limit </div>
          <div class="query-box-fields"><a class="query-box-delete" href="queries/delete/0"><i class="fa fa-trash-o"
                aria-hidden="true"></i></a></div>
        </div>
      </div> -->
    </div>

  </div>



  <div class="clonable" id="clonable" style="display: none;">
    <div class="box-api-set">
      <div class="flex-group box-shadow">
        <div class="input-set">
          <label for="">Device ID </label>
          <input type="text" id="device_id" list="device_sets" autocomplete="off" />
        </div>

        <div class="input-set">
          <label for="">Sensor name</label>
          <input type="text" id="sensor_name" autocomplete="off" />
        </div>
      </div>


      <!-- <div class="flex-group box-shadow">
        <div class="input-set">
          <label for="">Latitude</label>
          <input type="text" name="latitude" id="latitude" autocomplete="off" required>
        </div>
        <div class="input-set">
          <label for="">Longitude</label>
          <input type="text" name="longitude" id="longitude" autocomplete="off" required>
        </div>
        <div class="input-set">
          <label for="">Altitude</label>
          <input type="text" name="altitude" id="altitude" autocomplete="off" required>
        </div>
      </div> -->

      <div class="flex-group box-shadow">
        <div class="input-set">
          <label for="">Datasources</label>
          <select id="datasourceList" name="datasource_id" onchange="getMeasurements()">
            <option value="-1">Choose option</option>
          </select>
        </div>
        <div class="input-set">
          <label for="">Measurements</label>
          <select id="measurementList" name="measurement_id" onchange="getFields()">
            <option value="-1">Choose option</option>
          </select>
        </div>
      </div>

      <div class="input-set box-shadow">
        <label for="">SELECT</label>
        <select id="fieldList" name="field_value">
          <option value="-1">Choose option</option>
        </select>
        <div class="flex-group">
          <button onclick="addToSelected()" class="green-bg">+</button>
          <button onclick="clearSelected()" class="red-bg">Clear</button>
        </div>
        <textarea id="fields_text" rows="1" class="auto_height" readonly oninput="auto_height(this)"></textarea>
      </div>

      <div class="input-set box-shadow">
        <label for="">WHERE</label>
        <select id="whereList" name="where_conditions" onchange="getDistinctValues()">
          <option value="-1">Choose option</option>
        </select>
        <select id="conditions" name="conditions_sign">
          <option value="-1">Choose option</option>
          <option value="gt">&gt;</option>
          <option value="lt">&lt;</option>
          <option value="eq">=</option>
          <option value="noteq">!=</option>
          <option value="gteq">&gt;=</option>
          <option value="lteq">&lt;=</option>
        </select>
        <select id="fieldvalues" name="fieldvalues">
          <option value="-1">Choose option</option>
        </select>
        <div class="flex-group">
          <button onclick="addToWhere()" class="green-bg">+</button>
          <button onclick="clearWhereText()" class="red-bg">Clear</button>
        </div>
        <textarea id="where_text" rows="1" readonly class="auto_height" oninput="auto_height(this)"></textarea>
      </div>

      <div class="input-set box-shadow">
        <label for="">LIMIT</label>
        <input type="number" value="0" id="limit_value" />
      </div>
      <div class="input-set">
        <button class="blue-bg " style="max-width: 100px;" onclick="buildAPI()">Create +</button>
      </div>
    </div>
  </div>

  <datalist id="device_sets"> </datalist>

  <br><br><br>

  <!--SNACKBAR MESAGE-->
  <link href="{% static 'common/css/snackbar.css' %}" type="text/css" rel="stylesheet">
  <div id="snackbar"></div>
  <script src="{% static 'common/js/snackbar.js' %}"></script>


  {% for message in messages %}
  <script>showSnackBar("{{ message }}");</script>
  {% endfor %}

  <!--   Modal  -->
  <button style="display: none;" class="trigger" id="modal-btn"></button>
  <div class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <h1 id="modal_box">Hello, I am a modal!</h1>
    </div>
  </div>

  <!-- JQuery -->
  <script src="{% static 'common/js/jquery-3.6.4.min.js' %}"></script>


  <script type="text/javascript">
    // Get all APIs list
    $(document).ready(function () {
      $.ajax({
        type: "GET",
        url: "apis",
        data: {},
        success: function (data) {
          data = data["apis"];
          jQuery.each(data, function (index, item) {
            $("#apisList").append(
              '<option value="' + item[0] + '">' + item[1] + "</option>"
            );
          });
        },
      });
    });

    // Show Device set creation block
    $("#create-deviceset").click(function () {
      /* validate data */
      document.getElementById("query-box-main").innerHTML = "";
      let api_id = document.getElementById("apisList").value;
      if (api_id == -1) {
        alert("Please select an API!");
        document.getElementById("apisList").focus();
        return false;
      }

      $("#builder-main-div").html("");
      device_set_div = $("#clonable").html();
      $.getDatasources();
      $.getDeviceSets();
      $("#builder-main-div").append(device_set_div);
    });

    // Show Queries
    $("#view-deviceset").click(function () {
      /* validate data */
      document.getElementById("builder-main-div").innerHTML = "";
      let api_id = document.getElementById("apisList").value;
      if (api_id == -1) {
        alert("Please select an API!");
        document.getElementById("apisList").focus();
        return false;
      }

      $.ajax({
        type: "GET",
        url: "querysets",
        data: {
          api_id: api_id,
        },
        success: function (data) {
          $("#query-box-main").html("");

          query_data = data["querysets"];
          let content = "";
          let last_div = "";
          var alignment_flag = 0;

          var unique_device_list = []

          jQuery.each(query_data, function (index, item) {

            if (unique_device_list.indexOf(item.device_set_name) == -1) {
              if (alignment_flag == 0) {
                alignment_flag = 1;
              } else {
                content += last_div;
              }
              content += "<div class=\"query-box-head\">";
              content += "<b>" + item.device_set_name + "</b>";
              content += "<a class=\"device-box-delete\" href='deviceset/delete/" + item.device_set_id + "?redirect=buildapi'><i class=\"fa fa-trash-o\"aria-hidden=\"true\"></i></a>";
              content += "</div><br>";

              unique_device_list.push(item.device_set_name);

              content += "<div class=\"query-box-row\">";
              last_div = "</div>";

            }

            content += "<div class=\"query-box-col box-shadow\">";
            content += "<div class=\"query-box-fields\"><b>Name : </b>";
            content += item.query_data_name
            content += "</div>";
            content += "<div class=\"query-box-fields\"><b>Measurement :</b>";
            content += item.query_measurement
            content += "</div>";
            content += "<div class=\"query-box-fields\"><b>Fields : </b>";
            content += item.query_fields
            content += "</div>";
            content += "<div class=\"query-box-fields\"><b>Where : </b>";
            content += item.query_where
            content += "</div>";
            content += "<div class=\"query-box-fields\"><b>Limit : </b>";
            content += item.query_limit
            content += "</div>";
            content += "<div class=\"query-box-fields\">";
            content += "<a class=\"query-box-delete\" href=\"queries/delete/";
            content += item.id
            content += "\"><i class=\"fa fa-trash-o\"aria-hidden=\"true\"></i></a>";
            content += "</div>";

            content += "</div>";




          });

          $("#query-box-main").append(content);
        },
      });



      //device_set_div = $("#clonable").html();
      // $.getDatasources();
      // $.getDeviceSets();
      // $("#builder-main-div").append(device_set_div);
    });

    // Get all Devicesets
    $.getDeviceSets = function () {
      $("#device_sets").html("");
      api_id = $("#apisList").find(":selected").val();
      $.ajax({
        type: "GET",
        url: "devicesets",
        data: {
          api_id: api_id,
        },
        success: function (data) {
          //$("#message").text(data);
          data = data["devicesets"];
          jQuery.each(data, function (index, item) {

            const lastUnderscoreIndex = item.lastIndexOf('_');
            let item_name = '';
            let item_no = '';

            if (lastUnderscoreIndex !== -1) {
              item_name = item.substring(0, lastUnderscoreIndex);
              item_no = item.substring(lastUnderscoreIndex + 1);
            } else {
              item_name = item;
            }

            $("#device_sets").append("<option value='" + item_no + "'>" + item_name + "</option>");
          });
        },
      });
    };

    // Get all Datasources when click create-device-set-btn
    $.getDatasources = function () {
      $("#datasourceList").html('<option value="-1">Choose option</option>');
      $.ajax({
        type: "GET",
        url: "datasources",
        data: {
          //api_id: api_id,
        },
        success: function (data) {
          //$("#message").text(data);
          data = data["datasources"];
          jQuery.each(data, function (index, item) {
            $("#datasourceList").append(
              '<option value="' + item[0] + '">' + item[1] + "</option>"
            );
          });
        },
      });
    };

    // Get all measurements
    $.getAllMeasurements = function () {
      datasource_id = $("#datasourceList").find(":selected").val();
      $("#measurementList").html('<option value="-1">Choose option</option>');
      $.ajax({
        type: "GET",
        url: "measurements",
        data: {
          datasource_id: datasource_id,
        },
        success: function (data) {
          data = data["measurements"];
          jQuery.each(data, function (index, item) {
            $("#measurementList").append(
              '<option value="' + item + '">' + item + "</option>"
            );
          });
        },
      });
    };

    // Get all fields
    $.getAllFields = function () {
      datasource_id = $("#datasourceList").find(":selected").val();
      measurement_name = $("#measurementList").find(":selected").val();
      $("#fieldList").html('<option value="-1">Choose option</option>');
      $.ajax({
        type: "GET",
        url: "fields",
        data: {
          datasource_id: datasource_id,
          measurement_name: measurement_name,
        },
        success: function (data) {
          data = data["fields"];
          jQuery.each(data, function (index, item) {
            $("#fieldList").append(
              '<option value="' + item + '">' + item + "</option>"
            );
            $("#whereList").append(
              '<option value="' + item + '">' + item + "</option>"
            );
          });
        },
      });
    };

    // Get distinct field values
    $.getDistinctFieldValues = function () {
      datasource_id = $("#datasourceList").find(":selected").val();
      measurement_name = $("#measurementList").find(":selected").val();
      field_name = $("#whereList").find(":selected").val();
      $("#fieldvalues").html('<option value="-1">Choose option</option>');
      $.ajax({
        type: "GET",
        url: "distictvalues",
        data: {
          datasource_id: datasource_id,
          measurement_name: measurement_name,
          field_name: field_name,
        },
        success: function (data) {
          data = data["distictvalues"];
          jQuery.each(data, function (index, item) {
            $("#fieldvalues").append(
              '<option value="' + item + '">' + item + "</option>"
            );
          });
        },
      });
    };

    function getMeasurements() {
      $.getAllMeasurements();
    }

    function getFields() {
      $.getAllFields();
    }

    function getDistinctValues() {
      $.getDistinctFieldValues();
    }

    function addToSelected() {
      let seperator = "";
      selected_field = document.getElementById("fieldList").value;
      if (selected_field == -1) return;
      field_data = document.getElementById("fields_text").value;
      if (field_data != "") seperator = ", ";
      document.getElementById("fields_text").value +=
        seperator + selected_field;
    }

    function clearSelected() {
      document.getElementById("fields_text").value = "";
    }

    function addToWhere() {
      let seperator = "";
      where_field = document.getElementById("whereList").value;
      conditions = document.getElementById("conditions").value;
      fieldvalue = document.getElementById("fieldvalues").value;
      if (where_field == -1 || conditions == -1 || fieldvalue == -1) return;
      field_data = document.getElementById("where_text").value;
      if (field_data != "") seperator = " & ";
      document.getElementById("where_text").value +=
        seperator + where_field + ", " + conditions + ", " + fieldvalue;
    }

    function clearWhereText() {
      document.getElementById("where_text").value = "";
    }

    function auto_height(obj) {
      /* javascript */
      obj.style.height = "1px";
      obj.style.height = obj.scrollHeight + "px";
    }

    function alert_and_focus(object, message) {
      alert(message);
      object.focus();
      return false;
    }

    function buildAPI() {
      let api_id = document.getElementById("apisList");
      let device_id = document.getElementById("device_id");
      let sensor_name = document.getElementById("sensor_name");
      let datasource_id = document.getElementById("datasourceList");
      let measurement_name = document.getElementById("measurementList");
      let field_list = document.getElementById("fields_text");
      let where_list = document.getElementById("where_text");
      let limit_value = document.getElementById("limit_value");

      let modal_box = document.getElementById("modal_box");
      let modal_btn = document.getElementById("modal-btn");

      /* validate data */
      if (api_id.value == -1) {
        return alert_and_focus(api_id, "Please select an API!");
      }
      if (device_id.value == "") {
        return alert_and_focus(device_id, "Please enter a valid device name!");
      }
      if (sensor_name.value == "") {
        return alert_and_focus(sensor_name, "Please enter a valid sensor name!");
      }
      if (datasource_id.value == -1) {
        return alert_and_focus(datasource_id, "Please select a valid datasource!");
      }
      if (measurement_name.value == -1) {
        return alert_and_focus(measurement_name, "Please select a valid measurement!");
      }
      if (field_list.value == -1) {
        return alert_and_focus(document.getElementById("fieldList"), "Please select atleast one field!");
      }



      $.ajax({
        type: "POST",
        url: "buildapi",
        data: {
          api_id: api_id.value,
          query_deviceset: device_id.value,
          query_data_name: sensor_name.value,
          query_datasource: datasource_id.value,
          query_measurement: measurement_name.value,
          query_fields: field_list.value,
          query_where: where_list.value,
          query_limit: limit_value.value,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data) {
          modal_box.innerHTML = data.url +"<br>"+data.message;
          modal_btn.click();
          $("#view-deviceset").click();
        },
      });

    }


    // JavaScript function to get cookie by name; retrieved from https://docs.djangoproject.com/en/3.1/ref/csrf/
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  </script>


  <script>
    const modal = document.querySelector(".modal");
    const trigger = document.querySelector(".trigger");
    const closeButton = document.querySelector(".close-button");

    function toggleModal() {
      modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
      if (event.target === modal) {
        toggleModal();
      }
    }

    trigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);

  </script>
</body>

</html>