{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Apis</title>
    <link href="{% static 'apiapp/css/manage_api.css' %}" type="text/css" rel="stylesheet" />
    <!--FONT AWESOME ICONS https://fontawesome.com/v4.7/icon/home-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
    <div class="main">
        <div class="sections box-shadow">
            <h3>Create API</h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-col"><label for="">Name</label></div>

                    <div class="form-col">
                        <input type="text" name="api_name" placeholder="eg : aws_data" pattern="^[a-zA-Z0-9_]+$"
                            title="API name can only contain alphabets, numbers, and underscores." required />
                        <span class="errors"> {{ form.api_name.errors }}</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col"><label for="">Description</label></div>

                    <div class="form-col">
                        <input type="text" name="api_desc" placeholder="" pattern="^[a-zA-Z0-9\s]+$"
                            title="API description can only contain alphabets, numbers and spaces." required />
                        <span class="errors"> {{ form.api_desc.errors }}</span>
                    </div>
                </div>
                <div class="form-row">
                    <input type="submit" value="create" />
                </div>
            </form>
        </div>

        <div class="sections box-shadow">

            <h3>APIs</h3>
            <table class="list-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each in apis %}
                    <tr>
                        <form action="update" method="POST">
                            {% csrf_token %}
                            <input type="text" hidden value="{{each.id}}" name="api_id">
                            <td><input class="td-input" type="text" style="border: none;" value="{{each.api_name}}"
                                    name="api_name" readonly required> </td>
                            <td class="td-input" style="text-transform: initial;border: none;"> {{ base_url }}{{each.api_name}}</td>
                            <td><input class="td-input" type="text" value="{{each.api_desc}}" name="api_desc" pattern="^[a-zA-Z0-9\s]+$"
                                title="API description can only contain alphabets, numbers and spaces." required>
                            </td>
                            <td><a href="status/{{ each.id }}"><button type="button" class="
                                {% if each.api_status == 1 %}
                                    green
                                {% else %}
                                    red
                                {% endif %}
                                "><i class="fa fa-power-off" aria-hidden="true"></i></button></a></td>
                            <td><button><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
                            <td><a href="delete/{{ each.id }}"><button type="button"><i class="fa fa-trash-o"
                                            aria-hidden="true"></i></button></a></td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <br><br><br>

        <!--SNACKBAR MESAGE-->
        <link href="{% static 'common/css/snackbar.css' %}" type="text/css" rel="stylesheet">
        <div id="snackbar"></div>
        <script src="{% static 'common/js/snackbar.js' %}"></script>


        {% for message in messages %}
        <script>showSnackBar("{{ message }}");</script>
        {% endfor %}

    </div>
</body>

</html>