{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Permissions</title>
    <link href="{% static 'apiapp/css/permission_api.css' %}" type="text/css" rel="stylesheet" />
    <!--FONT AWESOME ICONS https://fontawesome.com/v4.7/icon/home-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style></style>
</head>

<body>
    <div class="main">
        <div class="sections box-shadow">
            <h3>Add permissions</h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-col"><label for="">User</label></div>
                    <div class="form-col">
                        <select name="user" id="" required>
                            <option value="">Select user</option>
                            {% for each in users %}
                            <option value="{{each.0}}">{{each.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col"><label for="">Api</label></div>
                    <div class="form-col">
                        <select name="api" id="" required>
                            <option value="">Select api</option>
                            {% for each in apis %}
                            <option value="{{each.0}}">{{each.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <input type="submit" value="Allow" />
                </div>
            </form>
        </div>

        <div class="sections box-shadow">
            <h3>APIs</h3>
            <table class="list-table">
                <thead>
                    <tr>
                        <th>Api</th>
                        <th>user</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each in permissions %}
                    <tr>
                        <td>{{each.0}}</td>
                        <td>{{each.1}}</td>
                        <td>
                            <a href="permissions/delete/{{ each.2 }}"><button type="button">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br /><br /><br />

        <!--SNACKBAR MESAGE-->
        <link href="{% static 'common/css/snackbar.css' %}" type="text/css" rel="stylesheet" />
        <div id="snackbar"></div>
        <script src="{% static 'common/js/snackbar.js' %}"></script>

        {% for message in messages %}
        <script>
            showSnackBar("{{ message }}");
        </script>
        {% endfor %}
    </div>
</body>

</html>