{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Token</title>
    <link href="{% static 'apiapp/css/token.css' %}" type="text/css" rel="stylesheet" />
    <!--FONT AWESOME ICONS https://fontawesome.com/v4.7/icon/home-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style></style>
</head>

<body>
    <div class="main">
        
        <div class="sections box-shadow">
            <h3>Tokens</h3>
            <table class="list-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Token</th>
                        <th>Generate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each in tokens %}
                    <tr>
                        <td>{{each.0}}</td>
                        <td>{{each.1}}</td>
                        <td>
                            <a  href="tokens/create/{{ each.2 }}" onclick="return confirmRegenerate();"><button type="button">
                                <i class="fa fa-refresh" aria-hidden="true"></i></button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br /><br /><br />

        <!--SNACKBAR MESAGE-->
        <link href="{% static 'common/css/snackbar.css' %}" type="text/css" rel="stylesheet" />
        <div id="snackbar"></div>
        <script src="{% static 'common/js/snackbar.js' %}"></script>

        {% for message in messages %}
        <script>
            showSnackBar("{{ message }}");
        </script>
        {% endfor %}

        <script>
            function confirmRegenerate() {
                return confirm("Are you sure you want to regenerate the token?");
            }
        </script>

    </div>
</body>

</html>