{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoraLink</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .header {
        height: 15vh;
    }

    .body {
        height: 65vh;
    }

    .footer {
        height: 20vh;
    }

    .logo {
        width: 100px;
    }

    .flex-row-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        height: 15vh;
    }

    .flex-col-header {
        flex: 33%;
        align-self: center;
    }

    .login-btn {
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        cursor: pointer;
        padding: 12px 16px 12px 16px;
        border-radius: 6px;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }

    .body {
        background: url("{% static 'home/images/body-bg.jpg' %}");
    }

    .body-content {
        background-color: #0e0d0dad;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    p {
        margin-top: .5em;
    }

    h2,
    h1,
    p {
        font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .flex-row-footer {
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;

    }

    .flex-col-footer {
        /* flex: 30%; */
        align-self: center;
    }
</style>

<body>
    <div class="main">
        <div class="header">
            <div class="flex-row-header">
                <div class="flex-col-header">
                    <h2>LoraLink</h2>
                </div>
                <div class="flex-col-header">
                    <img class="logo" src="{% static 'home/images/icfoss_logo.png' %}" />
                </div>
                <div class="flex-col-header">
                    <img class="logo" src="{% static 'home/images/lorawan.png' %}" />
                </div>
            </div>
        </div>
        <div class="body">
            <div class="body-content">
                <h1>LoraLink</h1>
                <p>API service for LoraWan Data</p>
                <a href="{% url 'adminapp:login' %}" class="login-btn">Login</a>
            </div>
        </div>
        <div class="footer">
            <div class="flex-row-footer">
                <div class="flex-col-footer"></div>
                <div class="flex-col-footer">
                    <p>International Centre for Free and Open Source Software <br>Developed by Open Hardware</p>
                </div>
                <div class="flex-col-footer"></div>
            </div>
        </div>
    </div>

    <!--SNACKBAR MESAGE-->
    <link href="{% static 'common/css/snackbar.css' %}" type="text/css" rel="stylesheet">
    <div id="snackbar"></div>
    <script src="{% static 'common/js/snackbar.js' %}"></script>


    {% for message in messages %}
    <script>showSnackBar("{{ message }}");</script>
    {% endfor %}
</body>

</html>