.sections {
    padding: 1em;
    /* background-color: whitesmoke; */
    border-radius: 12px;
    margin-top: 2em;
}

.box-shadow {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

h3 {
    text-transform: uppercase;
    margin-top: 2em;
    color: #656566;
    margin-bottom: 2em;
}

.flex-group {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding: 10px;
    border: none;
    background-color: #efefef;
    cursor: default;
    outline: none;
    color: #3e3e3e;
}

button {
    border: none;
    padding: 10px;
    background-color: #173448;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    max-width: 100px;
}

label{
    text-transform: uppercase;
    color: gray;
}